---
---

@import "{{ site.theme }}";

.inner {
  width: fit-content;
}

.soloImg {
  text-align: center;
}

.button {
  background-color: #40E0D0;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: blue;
}
